<h1>Edit Tool Info</h1>
<%= simple_form_for(@tool) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <button type="button" class="btn btn-dark"><%= f.submit %></button>
<% end %>
  <p><%= link_to ('<i class="fas fa-home"></i>').html_safe, tools_path%><p>
