<%= render 'shared/navbar' %>

<div class="container tools-index">
  <h1>A Tool For Any Situation</h1>

  <div class="search-form">
    <%= form_tag tools_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a tool"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  
  <div class="card-container">
    <% @tools.each do |tool| %>
      <div class="card">
        <%= link_to tool_path(tool) do %>
          <h3> <%= tool.name.capitalize %></h3>
          <% if tool.photo.present? %>
            <%= cl_image_tag tool.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <div class="size mb-4"> <img src="https://www.askideas.com/media/73/Hey-You-Finger-Picture.gif">
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
