<%= render 'shared/navbar' %>

<div class="mx-auto my-0 text-uppercase">
  <h1>A Tool For Any Situation</h1>

  <div class="search-form">
    <%= form_tag tools_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a tool"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

<div class="card-container">
  <% @tools.each do |tool| %>
    <div class="card-trip">
      <%= link_to tool_path(tool) do %>
        <% if tool.photo.present? %>
          <%= cl_image_tag tool.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img height="300" width="400" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581705325-41z1obml8il-ac-1581705279.jpg">
        <% end %>
      <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= tool.name.capitalize %></h2>
            <p><%= tool.description %></p>
          </div>
          <h2 class="card-trip-pricing">£29</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
    </div>
  <% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>
