<div class="form">
  <h2> List a Tool </h2>
  <%= simple_form_for(@tool) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.input :photo, as: :file %>
    <br>
    <%= f.input :category, as: :select, collection: @category, prompt: 'Select category', label: false %>
    <%= f.submit class: "btn-primary" %>
  <% end %>

  <p><%= link_to ('<i class="fas fa-home"></i>').html_safe, tools_path, class: "icon-yellow" %></p>
</div>
