<%= render 'shared/homenavbar' %>
<br>
<h1>Tool Hire</h1>
<div class="second-container">
  <h2><%= @tool.name %></h2>
  <div class="tool-and-form">
    <div class="show-item-container col-6">  
      <div class="tool-show-card">
        <div class="image">
          <% if @tool.photo.attached? %>
            <%= cl_image_tag @tool.photo.key, height: 320, width: 400, crop: :fill %>
          <% else %>
            <img height="320" width="400" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581705325-41z1obml8il-ac-1581705279.jpg">
          <% end %>
        </div>
        <div class="info">
          <p><i class="fas fa-tools"></i> <%= @tool.description %></p>

            <div class="price">
              <h4>£29 per day</h4>
              <!--
              <button type="button" class="btn btn-primary-booking"><%= link_to "Make a booking", new_tool_booking_path(@tool) %> </button>
              -->
            </div>
          </div>
        </div>
        <div class="booking-form">
          <h3>Create a new booking</h3>

          <%= simple_form_for [@tool, @booking] do |f| %>
            <div class="form-inputs">
              <%= f.input :start_date, as: :date, html5: true  %>
              <%= f.input :end_date, as: :date, html5: true  %>
            </div>

            <div class="form-actions btn">
              <%= f.button :submit, class: "btn btn-primary-booking" %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="booking-form col-6">
      <h3>Create a new booking</h3>
      <%= simple_form_for [@tool, @booking] do |f| %>
        <div class="form-inputs">
          <%= f.input :start_date, as: :date, html5: true  %>
          <%= f.input :end_date, as: :date, html5: true  %>
        </div>

        <div class="form-actions btn">
          <%= f.button :submit, class: "btn btn-primary-booking" %>
        </div>
      <% end %>
    <div class="flash flash-danger alert alert-dismissible fade show" role="alert">
      <span><strong>Oops!</strong> 😱 a problem has occurred while processing your booking. </span>
      <a data-dismiss="alert" aria-label="Close">
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
  <div id="map"
      style="width: 100%; height: 320px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
  <div class="links">
    <%= link_to ('<i class="fas fa-arrow-circle-left"></i> Go back').html_safe, tools_path, class: "btn btn-outline" %>
  </div>
