
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
<h1>Tool Hire</h1>
  <div class="card-tool">
    <img src="" />
      <div class="card-tool-info">
        <h2><%= @tool.name %></h2>
        <p><%= @tool.description %> / <%= @tool.category %> </p>
      </div>
      <h2 class="card-tool-price">£££</h2>
       <img src="" class="card-trip-user avatar-bordered" />
  </div>
    <div class="card-tool-icons">
  <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#icons" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="icons">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
    </div>
  <p><%= link_to ('<i class="fas fa-arrow-circle-left"></i>').html_safe, tools_path %></p>
  <%# <p><%= link_to ('<i class="fas fa-edit"></i>').html_safe, edit_tool_path(tool)%></p>
</div>
