<%= render 'shared/homenavbar' %>
<div class="tools-container">
<br>
<br>
<br>
<div class="my-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/dashboard.jpg)">
  My Dashboard
</div>

<div class="listings-and-bookings">
   <div class="container-tools">
    <h2>My Tools</h2>
    <% current_user.tools.each do |tool| %>
      <div class="card-product">
        <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581705325-41z1obml8il-ac-1581705279.jpg"/>
        <div class="card-product-infos ml-1">
          <h2><%= tool.name %></h2>

          <p><em><%= tool.description %></em></p>
          <div class="links mt-3">
            <p><%= link_to 'Edit', edit_tool_path(tool) %></p>
            <p><%= link_to 'Delete', tool_path(tool), method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        </div>
      </div>
    <% end %>
    <h5><%=link_to "List a new tool", new_tool_path, class: "btn btn-primary" %></h5>
    <br>
    <br>
  </div>

  <div class="container-bookings">
    <h2>My Bookings</h2>
    <% current_user.bookings.each do |booking| %>
      <div class="card-product">
        <% if booking.tool.photo.attached? %>
          <%= cl_image_tag booking.tool.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581705325-41z1obml8il-ac-1581705279.jpg"/>
        <% end %>
        <div class="card-product-infos">
          <h2><%= booking.tool.name %></h2>
          <p><%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
          <p><%= link_to 'Cancel this booking', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    <% end %>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>