<%= render 'shared/homenavbar' %>
<div class="grad-bg">
  <div>
    <header class=toolbox>
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Open Tool Box</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
        <%= link_to "Rent Tools", tools_path, class: "btn btn-primary" %>
      </div>
    </header>
  </div>

  <div class="carousel_container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag 'home_improvement.jpg', class: "d-block w-100", alt: "First slide"%>
            <div class="carousel-caption d-none d-md-block">
              <h5>Home Improvement</h5>
              <p></p>
            </div>
        </div>
        <div class="carousel-item">
          <%= image_tag 'gardening.jpg', class: "d-block w-100", alt: "Second slide"%>
            <div class="carousel-caption d-none d-md-block">
              <h5>Gardening</h5>
              <p></p>
            </div>
        </div>
        <div class="carousel-item">
          <%= image_tag 'automotive.jpg', class: "d-block w-100", alt: "Third slide"%>
            <div class="carousel-caption d-none d-md-block">
              <h5>Automotive</h5>
              <p></p>
            </div>
        </div>
        <div class="carousel-item">
          <%= image_tag 'cleaning.jpg', class: "d-block w-100", alt: "Fourth slide"%>
            <div class="carousel-caption d-none d-md-block">
              <h5>Cleaning</h5>
              <p></p>
            </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

