<%= render 'shared/homenavbar' %>
<div class="grad-bg">
  <header class=toolbox>
    <div class="toolbox-central text-center">
      <h1 class="mx-auto my-0 text-uppercase">Open Tool Box</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
      <%= link_to "Rent Tools", tools_path, class: "btn btn-primary" %>
    </div>
  </header>
  <div class="carousel_container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox" style=" width:100%; height: 100vh;">
        <div class="carousel-item active">
          <%= image_tag 'home_improvement.jpg', class: "d-block w-100", alt: "First slide"%>
            <div class="carousel-caption">
              <h5></h5>
              <p></p>
            </div>
        </div>
        <div class="carousel-item">
          <%= image_tag 'gardening.jpg', class: "d-block w-100", alt: "Second slide"%>
            <div class="carousel-caption" class="text-left">
              <h5></h5>
              <p></p>
            </div>
        </div>
        <div class="carousel-item">
          <%= image_tag 'automotive.jpg', class: "d-block w-100", alt: "Third slide"%>
            <div class="carousel-caption">
              <h5></h5>
              <p></p>
            </div>
        </div>
        <div class="carousel-item">
          <%= image_tag 'cleaning.jpg', class: "d-block w-100", alt: "Fourth slide"%>
            <div class="carousel-caption">
              <h5></h5>
              <p></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
